body{
	background-image: url("images/fifabd.jfif");
	font-family: 'PT Sans', sans-serif;
	font-size: 20px;
	color: white;
}

.opt{
  text-align: center;
  color: black;
  background-color: white;
  width: 900px;
}

.navigate{
	margin-left: auto;
	margin-right: auto;
	border-spacing: 20px
}

.land{
	width: 1440px;
	height: 540px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h1{
	text-align: center;
}

h2{
	text-decoration: underline;
}

.info{
	background-color: gray;
	margin-left: auto;
	margin-right: auto;
	border-spacing: 10px;
	border-radius: 15px;
}