body {
	background-color: #364b9e;
	font-family: 'PT Sans', sans-serif;
	font-size: 20px;
	color: white;
}

.opt{
  text-align: center;
  background-color: white;
  width: 900px;
}

.navigate{
	margin-left: auto;
	margin-right: auto;
	border-spacing: 20px
}

.banner{
	width: 360px; 
	height: 35px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
h1{
	text-align: center;
	color: #D2B4A9;
}

.pic{
	width: 300px; 
	height: 400px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h2{
	text-decoration: underline;
	color: #D2B4A9;
}